{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
	.add-btn:hover{
          color:#274472;
		  background-color:#c3e0e5;
	}
	.add-btn{
		background-color: #5885af;
		color: #c3e0e5;

	}
    .img-item{
        background-size: cover;
    }
    .prodView{
        color: #274472;
    }

</style>
{% endblock %}
{% block body %}
 
<div class="row prodView">
    <div class="col-md-6">
        <!-- Product Image -->
        <img src="/media/{{products.image}}" alt="Product Image" class="w-75 img-item">
    </div>
    <div class="col-md-6">
        <!-- Product Details -->
        <h2 class="mb-3">{{products.prod_name}}</h2>
        <p class="text-muted">Category: {{products.category}}</p>
        <p class="lead">Rs.{{products.price}}</p>
        <hr>
        <!-- Product Description -->
        <h4>Description:</h4>
        <p>{{products.prod_desc}}.</p>
        <!-- Add to Cart Button -->
        <div class="mb-3">
            <button data-product="{{products.id}}" data-action="add"
                class="btn add-btn  update-cart">Add to Cart</button>
        </div>
        <!-- Product Features -->
        <h4>Features:</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
        </ul>
    </div>
</div>
{% endblock %}