{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-md-6">
        <!-- Product Image -->
        <img src="/media/{{products.image}}" alt="Product Image" class="w-75">
    </div>
    <div class="col-md-6">
        <!-- Product Details -->
        <h2 class="mb-3">{{products.prod_name}}</h2>
        <p class="text-muted">Category: {{products.category}}</p>
        <p class="lead">Rs.{{products.price}}</p>
        <hr>
        <!-- Product Description -->
        <h4>Description:</h4>
        <p>{{products.prod_desc}}.</p>
        <!-- Add to Cart Button -->
        <div class="mb-3">
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn  update-cart">Add to Cart</button>
        </div>
        <!-- Product Features -->
        <h4>Features:</h4>
        <ul>
            <li>Feature 1</li>
            <li>Feature 2</li>
            <li>Feature 3</li>
        </ul>
    </div>
</div>

{% endblock %}