{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <img src="/media/{{products.image}}" class="prod_image">
        </div>
            <button class="btn mx-5  my-4" style="background-color:#274472; ; color:#c3e0e5;">Buy Now</button>
            <button class="btn " style="background-color:#274472;; color:#c3e0e5;">Add Cart</button>
    </div>
    <div class="col-md-8">
        <h5>{{products.prod_name}}</h5>
        <p><b>Rs.{{products.price}}</b></p>
        <p>{{products.prod_desc}}</p>
    </div>
</div>

{% endblock %}