{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
    .update-container {
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container update-container">
    <h2 class="text-center mb-4">Profile</h2>
    <form method="POST" action="{% url 'update_user' %}">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Update Profile</button>
    </form>
    <div class="text-center mt-3">
        <p>Change Password ? <a href="{% url 'update_password' %}">Click Here</a></p>
    </div>
</div>
{% endblock %}