{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
    .password-container {
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
    }
    .pass_head{
        color: #274472;
        text-decoration: underline;
    }
    .chgBtn{
        background-color:#5885af;
        color: #c3e0e5;
    }
    .chgBtn:hover{
        background-color: #c3e0e5;
        color: #5885af;
    }
</style>
{% endblock %}
{% block body %}
<div class="container password-container">
    <h2 class="text-center mb-4 pass_head">Update Password</h2>
    <form method="POST" action="{% url 'update_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn chgBtn btn-block">Change</button>
    </form>
</div>
{% endblock %}