{% extends 'index.html' %}
{% load static %}
{% block head %}
<style>
    .password-container {
        max-width: 800px;
        margin: auto;
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block body %}
<div class="container password-container">
    <h2 class="text-center mb-4">Update Password</h2>
    <form method="POST" action="{% url 'update_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Change</button>
    </form>
</div>
{% endblock %}