nav{
    background-color: #274472;
}

body .navbar-brand{
    color: #c3e0e5;
}
body .navbar-brand:hover{
    color:white;
}

body .nav-link{
    color: #c3e0e5;
}

.cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}
h4,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 350px;
	-webkit-box-shadow: -1px -3px 5px -2px #5885af;
    -moz-box-shadow: -1px -3px 5px -2px #5885af;
    box-shadow: -1px -3px 5px -2px ;
    margin-top: 60px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 30px;
}
